title: 성장하는 개발자, 김원식
subtitle: Since 2021, 11
description: >- # this means to ignore newlines until "baseurl:"
  devlopr-jekyll is a beautiful Jekyll Theme Built For Developers, which is optimized for speed and readability.

url: "https://kwszzang.github.io" # the base hostname & protocol for your site, e.g. https://example.github.io
urls:
    - text: Home
      url: /
    - text: About
      url: /about
#    - text: Blog
#      url: /blog
#    - text: Gallery
#      url: /gallery
#    - text: Shop
#     url : /shop
#    - text: Contact
#      url : /contact
#    - text: Styleguide
#      url: /styleguide
#    - text: Get Started
#      url: /get-started

# Edit Author details (For multi authors check _data/authors.yml)

author_logo: myprofile.jpg
author: 김원식
author_bio: 27살 늦은 신입 개발자 안녕하세요. 조금 늦게 개발을 시작한 신입 개발자가 되고 싶은 김원식입니다.
author_email: "kwsic@naver.com"
author_location: Republic Of Korea
author_website_url: "https://kwszzang.github.io"
typewrite-text: Hello ! I'm growing developer, WS

# 교육 내용
author_work_experiences:
            - company_name: 디지털 컨버전스 기반 UI/UX Front 전문 개발자 양성 과정
              company_logo: bitcamp.png
              company_url: https://www.bitcamp.co.kr/
              designation: 비트캠프
              description: 2021.03수료
              visibility: true
            - company_name: 컴퓨터 과학과
              company_logo: university.png
              company_url: https://www.knou.ac.kr/knou/index.do?epTicket=LOG
              designation: 한국방송통신대학
              description: 재학중
              visibility: true

# 진행중인 프로젝트
author_education_details:
              - college_logo: myprojectmain.jpg
                college_name: Spring 전자 정부 프레임 & 동적 웹페이지 구현 
                college_url: https://github.com/kwszzang/MySpringProject
                college_degree: 앨범, 노래들의 정보를 확인하고, 게시판을 통해 다른 사용자와 소통하는 커뮤니티 사이트
                description: 개인 프로젝트 진행 중
                visibility: true
             

# 진행한 프로젝트
author_project_details:
              - project_thumbnail: finalprojectmain.png
                project_title: 파이널 프로젝트
                project_description: 지역별 분류별로 나에게 딱 맞는 스터디그룹을 서치하고 스터디원들끼리의 자유로운 커뮤니케이션 및 파일 공유 기능 서비스
                project_url: https://github.com/kwszzang/FinalProject
                visibility: true
              - project_thumbnail: semiprojectmain.png
                project_title: 세미 프로젝트
                project_description: 애플 공식 홈페이지를 밴치 마킹하여 나만의 애플 홈페이지를 구현
                project_url: https://github.com/kwszzang/SemiProject
                visibility: true

# social links
twitter_username: null
github_username:  kwszzang
facebook_username: null
linkedin_username: null
behance_username: null
instagram_username: 1ones1k
medium_username: null
telegram_username: null
dribbble_username: null
flickr_username: null

#for comments ( we got Disqus and Hyvor Commenting, uncomment the one you want to use )

# disqus_shortname: sujay-kundu
hyvor_talk_website_id: 476

# wakatime username (coding activity)
wakatime_username: kwszzang

# mailchimp embedded form url (newsletter):
mailchimp_form_url: https://sujaykundu.us10.list-manage.com/subscribe/post?u=50bab1c85eae24ecfb0f68361&amp;id=3a2dd721d0

# formspree (contact form)
formspree_email: kwsci@naver.com

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# Choose what to show ( can be true or false)
show_author_work_experiences: true
show_author_education_details: true
show_author_project_details: true

# pagination of posts
paginate: 4
per_page: 4
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

collections:
  products:
    output: true
  authors:
    output: true

defaults:
  -
    scope:
      path: "gallery"
    values:
      permalink: /:path/:basename:output_ext
  -
    scope:
      path: ""
      type: authors
    values:
      layout: author
      permalink: /blog/authors/:slug

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-menus


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

destination: ./build
